<%- include('snippets/header') -%>
<%- include('snippets/sidebar') -%>
<div class="main-content">
  <%- include('snippets/spinner') -%>
  <div class="data-container" id="data-container">
  </div>
</div>
<script>
const appSession = {
  apiHost: `<%= process.env.LOOKERSDK_BASE_URL%>`,
  lookId: `<%= config.get('lookId') %>`
}
</script>
<script src="/javascripts/lookerApiCallEmbed.bundle.js"></script>
<%- include('snippets/footer') -%>