<%- include('snippets/header') -%>
<div class="main-content">
  <div class="iframe-container" id="iframe-container">
  </div>
</div>
<script>
const session = {
  dashboardId: <%= dashboardId %>,
  host: `<%= process.env.LOOKER_INSTANCE%>`,
  theme: `<%= config.get('defaultTheme') %>`
}
</script>
<script src="/javascripts/lookerDashboardEmbed.bundle.js"></script>
<%- include('snippets/footer') -%>