<%- include('snippets/header') -%>
<%- include('snippets/sidebar') -%>
<div class="main-content">
  <%- include('snippets/spinner') -%>
  <div class="iframe-container" id="iframe-container">

  </div>
</div>
<script>
const session = {
  modelName: `<%= config.get('exploreModel') %>`,
  exploreName: `<%= config.get('exploreName') %>`,
  host: `<%= process.env.LOOKER_INSTANCE%>`
}
</script>
<script src="/javascripts/lookerExploreEmbed.bundle.js"></script>
<%- include('snippets/footer') -%>