<%- include('snippets/header') -%>
<div class="form-div">
  <form id="signin-form" action="/login" method="post">
    <div class="form-block"><input type="text" name="name" class="input-text" placeholder="Name" required></div>
    <div class="form-block">
      <select name="usertype" class="input-select">
        <% const users = config.get('users'); for (var key in users) {%>
        <option value="<%=key%>"><%=users[key]['displayName']%></option>
        <%}%>
      </select>
    </div>
    <div class="form-block"><button class="template-button-1" type="submit">Sign In</button></div>
  </form>
</div>
<%- include('snippets/spinner') -%>
<script>
$(document).ready(() => {
  $('#signin-form').on('submit',(e) => {
    $('.spinnerDiv').show();
  })
});
</script>
<%- include('snippets/footer') -%>